<img class='img-square' src='<%=product.escape('image')%>'>

<div class='save'>
	Save
</div>

<div class='tag'>
	Tag
</div> 

<div class='product-info'>
	<p> <%= price %> </p>
	<a href='<%= product.get('url') %>'> Check Out Product </a>
</div>

<div class='square-label'>
	
	<img class='card-pic' src='<%= owner.get('imageT') %>'>
	
	<span align='center'>
	
		<a href='/apps/#/users/<%= owner.id %>'><%= owner.escape('email') %> </a>
		
	</span>
	
</div>